/native/target/
target/
.pixi/
*.class
.idea/
*.iml
.vscode/
.DS_Store
/tests/compat/.venv/
/tests/compat/__pycache__/
dependency-reduced-pom.xml
/icechunk-java/src/main/resources/io/earthmover/icechunk/native/
/site/

# Eclipse metadata
.classpath
.factorypath
.project
.settings/
